.btn-alinha-direita {
  display: flex;
  justify-content: end;
}
#main {
  min-height: 90vh;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
/*footer {
  margin-top: 5rem;;
}*/
.fc-toolbar-title {
  text-transform: capitalize; 
}
.blockquote-footer::before {
  display: block;
}


